<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <!-- Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- Plotly.js library -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
    <div class="container mt-5">
        <h1 class="mb-4">Proporção de Infectados por Bairro em São José do Rio Preto</h1>
        <!-- Div para renderizar o gráfico de pizza -->
        <div id="grafico" style="width: 80%; height: 500px;"></div>
    </div>

    <!-- Código JavaScript para renderizar o gráfico -->
    <script>
        // Obter o código HTML do gráfico de pizza passado pelo Flask
        var graficoHTML = "{{ grafico|safe }}";

        // Inserir o código HTML do gráfico na div com o id "grafico"
        document.getElementById("grafico").innerHTML = graficoHTML;
    </script>
</body>
</html>
